<div>
  <form [formGroup]="filterForm">
    <div style="display: flex;">
      <div>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Date From" [matDatepicker]="picker1" formControlName="fromDate" required
            (click)="picker1.open()">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>
      <div style="margin: 0 2em;">
        <mat-form-field appearance="outline">
          <input matInput placeholder="toDate" [matDatepicker]="picker2" formControlName="toDate" required
            (click)="picker2.open()">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
    </div>


  </form>

</div>
<div class="mat-elevation-z8" style="font-weight: 600;">
  <table mat-table [dataSource]="dataSource" style="width: 100%;">

    <ng-container matColumnDef="RequestType">
      <th mat-header-cell *matHeaderCellDef> Request Type </th>
      <td mat-cell *matCellDef="let element"> {{element.RequestType}} </td>
    </ng-container>

    <!-- Symbol Column -->


    <ng-container matColumnDef="DateAndTime">
      <th mat-header-cell *matHeaderCellDef> Date and Time </th>
      <td mat-cell *matCellDef="let element"> {{element.DateAndTime | date: 'dd/MM/yyyy'}} </td>
    </ng-container>


    <ng-container matColumnDef="RequestChannel">
      <th mat-header-cell *matHeaderCellDef> Request Channel </th>
      <td mat-cell *matCellDef="let element"> {{element.RequestChannel}} </td>
    </ng-container>

    <ng-container matColumnDef="Date">
      <th mat-header-cell *matHeaderCellDef>Expected Resolution Date </th>
      <td mat-cell *matCellDef="let element"> {{element.Date | date: 'dd/MM/yyyy'}} </td>
    </ng-container>


    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element">{{element.Status}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="color: red;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
  </mat-paginator>
</div>