.active-link{
    color: #e65100;
    border-bottom: 4px solid #e65100;
    opacity: 1 ;
    
    border-bottom-width: 4px;
  }
  .mat-tab-nav-bar{
    border-bottom: none !important;
  }

  .nav-container{
    padding-top: 0.2em;
    width: 60%;
    margin: 0 auto;

  }