<div class="nav-container" >

  <div class="" >
    <nav mat-tab-nav-bar>
      <a mat-tab-link *ngFor="let link of links" [routerLink]="[
          '/request-app',
          link.route
        ]" routerLinkActive="active-link">
        {{ link.routeDescription }}
      </a>
    </nav>
    
  </div>
  <div>

  </div>
  
</div>

<div class="" style="margin-top:3em ;">
  <router-outlet></router-outlet>
</div>




<!-- <div style="display: flex;justify-content: end;margin-top: 5em;">
  <form [formGroup]="filterForm" >
    <div style="display: flex;justify-content: space-between;">
        <div>
            <mat-form-field appearance="outline">
                <input matInput placeholder="Date From" [matDatepicker]="picker1" formControlName="fromDate" required
                (click)="picker1.open()">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>
        <div style="margin: 0 2em;">
            <mat-form-field appearance="outline">
                <input matInput placeholder="toDate" [matDatepicker]="picker2" formControlName="toDate" required (click)="picker2.open()">
                <mat-datepicker-toggle 
                matSuffix [for]="picker2"
                ></mat-datepicker-toggle>
                <mat-datepicker 
                #picker2></mat-datepicker>
            </mat-form-field>
        </div>

    </div>
 

 </form>
 
</div> -->
<!--    -->