<!-- <p>hello</p>
<ng-select [items]="transactionType" 
           bindLabel="name" 
           bindValue="name" 
           [(ngModel)]="selectedBank"
           (change)	="filterFunction($event)">
</ng-select>

<div *ngIf="selectedValue == 'pos'">pos</div>
<div *ngIf="selectedValue == 'gtb'">gtb</div>
<div *ngIf="selectedValue == 'interbank'">interbank</div>
<div *ngIf="!selectedOption">
    <div  *ngFor="let history of transactionHistory" >
        <p>{{history.narration}}</p>
    
    </div>
</div>

<div *ngIf="selectedOption">
    <div  *ngFor="let history of newArray" >
        <p>{{history.narration}}</p>
    
    </div>
</div> -->

<div style="text-align: center;padding:1em;font-size: 1.5em;">
    <p routerLink="/" style="cursor: pointer;font-weight: 500;padding: 0.5em;border-radius: 0.5em; color: #fff;background-color: #e65100;width: 100px;margin: 0 auto;">Home</p>
</div>

<router-outlet></router-outlet>