img{
    max-width: 200px;
    height: 200px;
    object-fit: cover;
}

ul{
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 20px 0px;
    justify-content: center;
    list-style: none;
}

li{
     margin: 5px;
}